/* ============================================================================ */
/*  Custom styles for Flickr.com by James Goode (@everycopy)                    */
/*  Portions contributed by Grant Hutchinson (@splorp)                          */
/* ============================================================================ */

#eyebrow {
  display: none !important;
  visibility: hidden;
}

.with-eyebrow {
  background-position: left 2px !important;  
}
    
body.with-eyebrow #global-nav {
  top: 0 !important;
}

body.with-eyebrow #main {
  top: -22px !important;
}

body.has-banner.with-eyebrow #global-nav {
  top: 49px !important;
}

body.has-banner.with-eyebrow #main {
  top: -22px !important;
}

body.has-banner.with-eyebrow.header-underlap #main {
  top: -43px !important;
}

body.has-banner.with-eyebrow.photostream #main {
  top: -43px !important;
}

/* For the logged out home page */

body.with-eyebrow.signed-out #global-nav {
	top: 0;
}

body.with-eyebrow.signed-out #main {
	top: -22px;
}