/*  Custom styles for Flickr.com by James Goode (@everycopy)
============================================================================ */

#eyebrow {
  display: none !important;
  visibility: hidden;
}

.with-eyebrow {
  padding-top: 49px !important;
  background-position: left 2px !important;
}

.with-eyebrow #global-nav {
  top: 0 !important;
}

.with-eyebrow .subnav-refresh {
  margin-top: 0;
}


/* For the logged out home page */

#flickr-frames li:first-child {
  padding-top: 0px !important;
}

#home {
  margin-top: -49px !important;
  border-top: 49px solid black;
}
